.colors{
    background-color: "#ED553B"; /*red*/
    background-color: "#F3B134"; /*orange*/
    background-color: "#4FB99F"; /*light blue*/
    background-color: "#068587"; /*blueish */
    background-color: "#112F41"; /*dark blue*/
}